@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background-dark: #020203;

  --theme-blue-color: #4f6ae6;
  --theme-blue-color-rgb: 79, 106, 230;
  --theme-blue400-color: #7288ea;
  --theme-yellow-color: #cca74d;
  --theme-yellow-color-rgb: 204, 167, 77;
  --theme-purple-color: #a873ff;
  --theme-purple-color-rgb: 162, 110, 227;
  --theme-purple700-color: #614288;
  --theme-grey900-color: #060a0d;
  --theme-white-color: #fff;
  --theme-red-color: #ff4949;
  --theme-red-color-rgb: 255, 73, 73;
  --theme-green-color: #52cd74;
  --theme-green-color-rgb: 42, 208, 202;
  --theme-green700-color: #007f59;
  --theme-orange-color: #ff9058;
  --theme-secondary-color-rgb: 113, 121, 128;
  --theme-selection-color: #ef9c92;

  --theme-modal-overlay: rgba(0, 0, 0, 0.7);

  --theme-tooltip-item-bg-active: rgba(0, 0, 0, 0.04);

  --gradient-blue-safe: #316cdf;
  --pink-rgba: rgb(255, 83, 136);
  --gradient-pink-safe: #ff5388;
  --gradient-pink: linear-gradient(90deg, #ff7474 0%, #ff4c8c 100%);
  --gradient-secondary-pink: linear-gradient(90deg, #ff9574 0%, #ff4c8c 100%);

  --gradient-green: linear-gradient(
    135deg,
    #2dd867 15.57%,
    #27ddc3 84.88%
    ); /* xrgb(188, 235, 0) rgb(0, 234, 234) */
  --gradient-green-opacity: linear-gradient(
    135deg,
    rgba(188, 235, 0, 0.16) 15.57%,
    rgba(0, 234, 234, 0.16) 84.88%
  );
  --gradient-green-safe: #52cd74;
  --gradient-red: linear-gradient(
    135deg,
    #de4b4b 0%,
    #f15e1f 100%
  ); /* rgb(255, 116, 57) rgb(255, 57, 188) */
  --gradient-red-opacity: linear-gradient(
    135deg,
    rgba(255, 116, 57, 0.16) 15.57%,
    rgba(255, 57, 188, 0.16) 84.88%
  );
  --gradient-red-safe: #e36666;
  --gradient-blue: linear-gradient(
    135deg,
    #914fe6 0%,
    #316cdf 100%
  ); /* rgb(145, 79, 230) rgb(49, 108, 223) */
  --gradient-blue-opacity: linear-gradient(
    135deg,
    rgba(145, 79, 230, 0.16) 15.57%,
    rgba(49, 108, 223, 0.16) 84.88%
  );

  --radial-gradient-pink: rgba(255, 80, 139, 0.37);
  --radial-gradient-transparent: rgba(255, 80, 139, 0);

  --theme-icon-hover-gradient: linear-gradient(135deg, #dd3dcb 15%, #ef9c92 85%);
}

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--app-background-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

